<configuration>
	<system.webServer>
		<!-- Disable directory browsing -->
		<directoryBrowse enabled="false" />

		<!-- Handle default documents -->
		<defaultDocument>
			<files>
				<!-- Add a default page if needed -->
				<clear />
				<add value="index.html" />
			</files>
		</defaultDocument>

		<!-- Rewrite requests to point to the backend -->
		<rewrite>
			<rules>
				<rule name="API Routing" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.html" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
