<configuration>
  <system.webServer>
    <handlers>
      <add name="AspNetCoreModule" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
